@charset "utf-8";

.contents {
	margin: 10px;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 4px;
}

.ori {
	background: #F6F6F6;
	text-align: center;
	border: 1px dashed #666;
}

.btn_input {
	margin: 20px auto 20px;
}

.btn_input input[type="submit"] {
	display: inline-block;
	width: 118px;
	padding: 10px 0;
	color: #333;
	font-size: 0.9em;
	text-align: center;
	border: solid 1px #999;
	border-radius: 4px;
	background: #FEFEFE;
	background:   linear-gradient(to bottom, #FEFEFE, #EAEAEA);
	background: -webkit-linear-gradient(top, #FEFEFE, #EAEAEA);
	background:    -moz-linear-gradient(top, #FEFEFE, #EAEAEA);
}

.btn a {
	display: block;
	margin: 10px 10px 5px;
	padding: 5px 10px;
	color: #333;
	font-size: 0.9em;
	text-decoration: none;
	border: solid 1px #999;
	border-radius: 4px;
	background: #FEFEFE;
	background:   linear-gradient(to bottom, #FEFEFE, #EAEAEA);
	background: -webkit-linear-gradient(top, #FEFEFE, #EAEAEA);
	background:    -moz-linear-gradient(top, #FEFEFE, #EAEAEA);
	position: relative;
}

.btn a:after {
	content: "";
	width: 8px;
	height: 8px;
	border-left: 2px solid #666;
	border-top: 2px solid #666;
	transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
}