@charset "utf-8";

#title a {
	display: block;
	width: 24px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -12px;
}

#title a img {
	width: 100%;
}

div#title + #from_to_count {
	margin-top: 8px;
}

a[name="up"] + #pagerBtn + hr {
	display: none;
}

.listbox_area {
	margin: 8px 0;
	padding: 5px;
	background: #DCDEE3;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	box-sizing: border-box;
}

.listbox {
	margin-bottom: 5px;
	padding: 10px;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 4px;
}

.listbox_area > div.listbox:last-child {
	margin-bottom: 0;
}

.cast_prof {
	display: table;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.cast_prof > div {
	display: table-cell;
}

.cast_prof > .cast_img {
	width: 60px;
	text-align: center;
	vertical-align: middle;
}

.cast_prof > .cast_img img {
	width: 100%;
	border-radius: 50%;
}

.cast_prof .date {
	font-size: 0.9em;
	color: #999;
}

.cast_prof > .cast_name {
	vertical-align: top;
	padding-left: 10px;
	position: relative;
}

.cast_name .cast_hn {
	margin-top: 15px;
	padding-right: 155px;
	font-size: 0.9em;
}

.delete-button {
	margin: -10px auto 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
}

.delete-button a {
	display: inline-block;
	padding: 5px 20px;
	color: #333;
	font-size: 0.9em;
	text-decoration: none;
	text-align: center;
	border: solid 1px #CCC;
	border-radius: 4px;
	background: #FEFEFE;
	background: linear-gradient(to bottom, #FEFEFE, #EAEAEA);
	background: -webkit-linear-gradient(top, #FEFEFE, #EAEAEA);
	background: -moz-linear-gradient(top, #FEFEFE, #EAEAEA);
}

.delete-button a:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(/img/old/icon/emoji_refuse.png);
	background-size: 20px;
	background-position: 0px 0px;
	vertical-align: -5px;
	margin-right: 5px;
}

.cast_prof .status {
	width: 70px;
	margin-bottom: 3px;
	padding: 2px 0;
	text-align: center;
	color: #FFF;
	font-size: 0.7em;
	border-radius: 4px;
}

.cast_prof .status-offline {	background: #999; }		/*オフライン*/
.cast_prof .status-online  {	background: #FF1B8D; }	/*ログイン中*/
.cast_prof .status-waiting {	background: #F00; }		/*待機中*/
.cast_prof .status-talking {	background: #00F; }		/*通話中*/

.sort_area br {
	display: none;
}

.count_bottom #from_to_count + hr {
	display: none;
}

.no_data {
	margin: 20px 10px;
	padding: 20px 10px;
	text-align: center;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 8px;
}

.prof_link {
	padding: 0 5px;
	font-size: 0.8rem;
	color: #FFF;
	text-decoration: none;
	background: #666;
	border-radius: 4px;
	position: absolute;
	right: 0;
	top: 0;
}

.prof_link:after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(/img/old/icon/icon_ya.png);
	background-size: 15px;
	margin-left: 5px;
	vertical-align: -3px;
}



