@charset "utf-8";
#title a {
	display: inline-block;
	padding: 0 5px;
	color: #FFF;
	font-size: 0.9rem;
	text-decoration: none;
	line-height: 1.4rem;
	border: 1px solid #FFF;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -12px;
}

.recom {
	margin-left: 5px;
	padding: 2px 5px;
	color: #FFF;
	font-size: 0.7em;
	background: #F00;
	border-radius: 4px;
	vertical-align: 2px;
}

.point_area {
	padding: 10px 5px;
	background: #DCDEE3;
}

.point_box {
	margin-bottom: 5px;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 4px;
}

.point_area > div:last-child {
	margin-bottom: 0;
}

.point_box .card3 + .card3,
.point_box .card5 {
	border-top: 1px solid #CCC;
}

.point_box a {
	display: block;
	padding: 10px;
	color: #333;
	font-size: 0.9rem;
	text-decoration: none;
	position: relative;
}

.point_box .card3 a,
.point_box .card5 a {
	padding-right: 128px;
}

.point_box a:before {
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 34px;
	margin-top: -17px;
	position: absolute;
	right: 25px;
	top: 50%;
}

.new {
	line-height: 1em;
	position: relative;
}

.new:before {
	content: "";
	width: 40px;
	height: 23px;
	background-image: url(/img/old/member/charge/new.png);
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.new a {
	padding: 15px 10px 10px;
}

.mileage a:before {
	background-image: url(/img/old/member/charge/mileage.gif);
}

.docomo a:before {
	background-image: url(/img/old/member/charge/docomo.gif);
}

.bank a:before {
	background-image: url(/img/old/member/charge/bank.gif);
}

.card3 a:before {
	background-image: url(/img/old/member/charge/card3.gif);
}

.card5 a:before {
	background-image: url(/img/old/member/charge/card5.gif);
}

.c-direct a:before {
	background-image: url(/img/old/member/charge/conveni.gif);
}

.bitcash a:before {
	background-image: url(/img/old/member/charge/bitcash.gif);
}

.s-money a:before {
	background-image: url(/img/old/member/charge/s-money.gif);
}

.g-money a:before {
	background-image: url(/img/old/member/charge/g-money.gif);
}

.c-check a:before {
	background-image: url(/img/old/member/charge/c-check.gif);
}

.edy a:before {
	background-image: url(/img/old/member/charge/edy.gif);
}

.point_box a:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top: solid 2px #666;
	border-right: solid 2px #666;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
}


