@charset "utf-8";

.title {
	height: 2em;
	line-height: 2em;
	margin-top: 2px;
	padding: 3px 8px;
	font-size: 1.1em;
	font-weight: bold;
	border-top: solid 3px #FF398A;
	border-bottom: solid 1px #CCC;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFEF9), color-stop(1, #EFF1F0));
	background: -moz-linear-gradient(top, #FDFEF9, #EFF1F0 100%);
}

.sms {
	margin: 20px 10px;
	border-radius: 6px;
	border: 1px solid #CCC;
}

.sms > div {
	padding: 10px 5px;
	color: #666;
}

.sms > .bar {
	padding: 5px;
	color: #00F;
	font-weight: bold;
	border-bottom: solid 1px #CCC;
	border-radius: 6px 6px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFEF9), color-stop(1, #EFF1F0));
	background: -moz-linear-gradient(top, #FDFEF9, #EFF1F0 100%);
}

.sms > .btn {
	margin-top: 0;
	padding: 0;
}

.sms > .btn_mb {
	margin-bottom: 15px;
}

.sms input[type="tel"] {
	display: block;
	width: 90%;
	font-size: 1em;
	margin: 10px auto 0;
	padding: 2px;
}

.btn input {
	width: 70%;
	margin: 0 auto;
	padding: 8px 0;
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 16px;
	line-height: 1;
	border-top: solid 1px #666;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #DDD));
	background: -moz-linear-gradient(top, #FFF, #DDD);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.btn a {
	width: 70%;
	margin: 0 auto;
	padding: 8px 0;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #333;
	line-height: 1;
	border-top: solid 1px #666;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #DDD));
	background: -moz-linear-gradient(top, #FFF, #DDD);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.f_link {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}

.f_link a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 10px;
	border-top: 1px solid #CCC;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFEF9), color-stop(1, #EFF1F0));
	background: -moz-linear-gradient(top, #FDFEF9, #EFF1F0 100%);
}

.f_link a:after {
	content: "";
	width: 6px;
	height: 6px;
	display: inline-block;
	border-left: 2px solid #333;
	border-top: 2px solid #333;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	position: absolute;
	right: 15px;
	margin-top: 6px;
}

.sms .error {
	color: #F00;
	border: 2px solid #F00;
	border-radius: 6px;
	margin: 10px 10px 30px;
	padding: 5px 10px;
}

.sms .error > div {
	color: #F00;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}