@charset "utf-8";

.btn {
	margin: 20px auto;
	width: 60%;
}

.btn a {
	display: block;
	padding: 10px 0;
	color: #333;
	font-size: 0.9em;
	text-decoration: none;
	text-align: center;
	border: solid 1px #999;
	border-radius: 4px;
	background: #FEFEFE;
	background:   linear-gradient(to bottom, #FEFEFE, #EAEAEA);
	background: -webkit-linear-gradient(top, #FEFEFE, #EAEAEA);
	background:    -moz-linear-gradient(top, #FEFEFE, #EAEAEA);
}

