@charset "utf-8";

.title {
	margin-top: 2px;
	padding: 8px;
	font-size: 1.1em;
	font-weight: bold;
	border-top: solid 3px #FF398A;
	border-bottom: solid 1px #CCC;
	background: #EFF1F0;
	background:   linear-gradient(to bottom, #FDFEF9, #EFF1F0);
	background: -webkit-linear-gradient(top, #FDFEF9, #EFF1F0);
	background:    -moz-linear-gradient(top, #FDFEF9, #EFF1F0);
	position: relative;
}

.listbox_area {
	margin: 8px 0;
	padding: 5px;
	background: #DCDEE3;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.listbox {
	margin-bottom: 5px;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 4px;
}

.listbox_area > div.listbox:last-child {
	margin-bottom: 0;
}

.cast_prof {
	display: block;
	padding: 10px;
	text-decoration: none;
	position: relative;
}

.cast_prof:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	border-top: solid 2px #666;
	border-right: solid 2px #666;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.listbox .date {
	font-size: 0.8em;
	color: #999;
	position: absolute;
	right: 25px;
	top: 10px;
}

.cast_hn {
	display: table;
	width: 100%;
	padding-right: 10px;
	font-size: 0.9em;
	box-sizing: border-box;
	position: relative;
}

.cast_hn > div {
	display: table-cell;
}

.cast_hn > .c_point {
	width: 120px;
	padding-left: 10px;
	font-size: 1.2rem;
	vertical-align: middle;
}

.cast_hn > .c_point img {
	width: 35px;
	vertical-align: -11px;
	margin-right: 3px;
}

.status_area {
	height: 21px;
}

.status {
	width: 100px;
	margin-bottom: 3px;
	padding: 2px 0;
	text-align: center;
	color: #FFF;
	font-size: 0.7em;
	border-radius: 4px;
}

.status-offline { background: #999; }	 	/*オフライン*/
.status-online  { background: #FF1B8D; } 	/*ログイン中*/
.status-talking { background: #F00; }	 	/*通話中*/
.status-waiting { background: #00F; }	 	/*待機中*/


.no_data {
	margin: 20px 10px;
	padding: 20px 10px;
	text-align: center;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 8px;
}


