@charset "utf-8";

.contents {
	margin: 20px 10px;
	padding: 10px 0;
	text-align: center;
	background: #FFF0F0;
	border: 3px solid #E87A7A;
	border-radius: 8px;
}

.contents div {
	color: #666;
	font-size: 1.2em;
	line-height: 1.2;
}

.contents div:last-child {
	font-size: 1.4rem;
}

.touroku_form {
	margin: 20px 10px;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 8px;
}

.touroku_form  .label:before {
	content: "â—";
}

.touroku_form input, .touroku_form select {
	margin-bottom: 10px
}

input[type="text"] {
	width: 90%;
	padding: 2px;
	font-size: 1em;
}

select {
	font-size: 1.2em;
}

select[name="lstMonth"],
select[name="lstDay"] {
	margin-left: 5px;
}

.touroku_btn input {
	display: block;
	width: 60%;
	margin: 10px auto 5px;
	font-size: 0.9em;
	text-align: center;
	background: #FEFEFE;
	background:   linear-gradient(to bottom, #FEFEFE, #EAEAEA);
	background: -webkit-linear-gradient(top, #FEFEFE, #EAEAEA);
	background:    -moz-linear-gradient(top, #FEFEFE, #EAEAEA);
	border: 1px solid #999;
	border-radius: 4px;
}

.chuui {
	margin: 20px 10px;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 8px;
}

.chuui > p:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: -4px;
	background-image: url(/img/old/icon/emoji_ihan.png);
	background-repeat: no-repeat;
	background-size: contain;
}

input[name="domain"] {
	padding: 2px;
	font-size: 1.2em;
}